* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
}

header {
  text-align: center;
}

header > h1 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #f9f4da;
}
header > p {
  font-size: 0.875rem;
  max-width: 350px;
  color: #8e8e8e;
}
/*
section {
  display: flex;
  align-items: center;
  justify-content: center;
}

section > p {
  width: 200px;
  height: 50px;
  border: 1rem;
  background-color: green;
  display: flex;
  align-items: center; /* vertical center 
  justify-content: center;  horizontal center 
}
*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.game-status {
  background-color: chocolate;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f9f4da;
  width: 100%;
  max-width: 350px;
  min-height: 60px;
  border-radius: 4px;
  margin-block: 30px;
}

section.game-status.game-status-green {
  background-color: #10a95b;
}
section.game-status.game-status-red {
  background-color: #ec5d49;
}
/* margin is for all sides , margin-block is for top and bottom */
section.game-status > p {
  margin: 5px;
}

section.game-status > h2 {
  font-size: 1.25 rem;
  margin: 5px;
}
section.game-status > p.farewell-message {
  font-style: italic;
  font-weight: 400;
}

.languages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  justify-content: center;
}
.language {
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  position: relative;
}
.language.lost::before {
  content: "💀";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.word {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: center;
  margin: 20px;
}
.wordspan {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  background-color: dimgray;
  border-bottom: 2px solid;
}
section.sectionalphabet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px;
  gap: 3px;
}
section.sectionalphabet > button {
  background-color: #fcba29;
  border-radius: 5px;
  height: 35px;
  width: 35px;
  font-weight: bold;
  border: 1px solid #d7d7d7;
  cursor: pointer;
}
button.new-game {
  background-color: #11b5e5;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  width: 225px;
  height: 40px;
  padding: 6px 12px;
  display: block;
  margin-inline: auto;
  cursor: pointer;
}
section.sectionalphabet > button.correct {
  background-color: #10a95b;
}

section.sectionalphabet > button.wrong {
  background-color: #ec5d49;
}
