.container {
  border: 5px solid #ffcc5c;
  display: flex;
  /* flex-direction: row; by default it is horizontal */
}

/* flex-start flex-end center space-around space-between space-evenly */
.home {
  flex: 1;
}
.logout {
  flex: 1;
}
